name: tests

on:
  push:
  pull_request:

jobs:
  src:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: ['8.0', '8.1']
        stability: [prefer-lowest, prefer-stable]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, sqlite, pdo_sqlite, iconv
          tools: composer:v2
          coverage: none

      -   name: Install dependencies
          run: |
            composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

      - name: Execute type checking
        run: vendor/bin/phpstan --configuration="phpstan.types.neon.dist"
